.card-buttons{

display:flex;

justify-content:space-between;

align-items:center;

margin-top:15px;

}

.favorite-btn{

font-size:28px;

background:none;

border:none;

cursor:pointer;

transition:.3s;

}

.favorite-btn:hover{

transform:scale(1.3);

}